:root {
    --standard-color: #616161;
    --black-color: #000;
    --white-color: #fff;
}

html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}

.reverse-color {
    background-color: var(--white-color);
    color: var(--black-color);
}

.btn-primary {
    border: none;
    height: 46px;
    font-size: 14px;
    margin: 16px 0;
}

.btn-primary:hover {
    opacity: 0.8;
    cursor: pointer;
}

.horizontal-20 {
    padding: 0 20px;
}

.col-2 {
    width: 50%;
}

.col-4 {
    width: 25%;
}

.flex {
    display: flex;
}
* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

i {
    background-color: transparent;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

ul,li {
    list-style: none;
    padding: 0;
}

p {
    text-align: justify;
}

.black {
    color: var(--black-color);
}

.standard-color {
    color: var(--standard-color);
}

h2 {
    border-bottom: 1px solid;
    width:fit-content;
    padding: 74px 0 10px 0;

    margin: 10px 0;
    font-size: 32px;
}

h3 {
    padding: 10px 0;
    margin: 10px 0;
    font-size: 24px;
}

