@media (max-width: 740px) {
    .col-1-s {
      width: 100%;
    }
    .Dung-black {
      margin: 40px 0px;
    }
    .icon-bar {
      top: 0;
      display: flex;
      width: 100%;
      height: fit-content;
      justify-content: space-around;
    }
    .icon-bar img {
      display: none;
    }
    .icon-bar > a {
      height: 40px;
      width: 100%;
    }
    .icon-bar > a > i {
      display: none;
    }
    .price-option {
      width: 100%;
      margin: 20px 0;
    }
    .reputaion-list {
      display: flex;
      overflow-x: scroll;
    }
    .reputation-item {
      align-self: center;
      flex-direction: column;
      height: max-content;
      transform: translateX(-24px);
    }
    .reputation-item img {
      align-self: center;
    }
    .reputation-info {
      width: 100vw;
    }
    .reputation-info p {
      width: 100vw;
      text-align: center;
    }
    .next-mobile {
      position: absolute;
      display: block !important;
      right: 0;
      top: 50%;
      background-color: transparent;
      border: none;
    }
    .next-mobile:hover {
      opacity: 0.8;
      cursor: pointer;
    }
    .photo-content {
      flex-direction: column;
    }
    .slideInRight {
      left: -100%;
      -webkit-animation: slideIn 1s forwards;
      animation: slideIn 1s forwards;
    }
    .singleSlide {
      background-size: cover;
      height: 300px;
      position: absolute;
      left: 100%;
      width: 100%;
      top: 0px;
    }
    .slideOutLeft {
      -webkit-animation: slideOutLeft 1s forwards;
      animation: slideOutLeft 1s forwards;
    }
    @keyframes slideOutLeft {
      100% {
        left: -100%;
      }
    }
    @-webkit-keyframes slideIn {
      100% {
        left: 0;
      }
    }
     
    @keyframes slideIn {
      100% {
        left: 0;
      }
      
      .icon-bar img {
          display: none;
      } 
      .icon-bar > a {
          height: 40px;
          width: 100%;
      }
      .icon-bar > a > i {
          display: none;
          
      }
      .price-option {
          width: 100%;
          margin: 20px 0;
      }
      .reputaion-list { 
          display: flex;
          overflow-x: scroll;
      }
      .reputation-item {
          align-self: center;
          flex-direction: column;  
          height: max-content;    
          transform: translateX(-24px);
      }
      .reputation-item img {
          align-self: center;
      }
      .reputation-info {
          width: 100vw;
      }
      .reputation-info p {
          width: 100vw;       
          text-align: center;
      }
      .next-mobile {
          position: absolute;
          display: block !important;
          right: 0;
          top: 50%;
          background-color: transparent;
          color: white;
          border: none;
      }
      .next-mobile:hover {
          opacity: 0.8;
          cursor: pointer;
      }
      .photo-content {
          flex-direction: column;
      }
  }
  